@using OgrenciNotMvc.Models.Entity_Framework
@model List<TBLKULUP>

@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Kulüp Id</th>
            <th>Kulüp Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var klp in Model)
        {
            <tr>
                <td>@klp.KulupId</td>
                <td>@klp.KulupAd</td>
                <td>
                    <a id="silinecek" class="btn btn-danger silinecek" data-target="#basic"
                       data-toggle="modal"
                       data-path="@Url.Action("Sil", "Kulupler", new { id = @klp.KulupId })">Sil</a>

                   @* <button data-id="@klp.KulupId" data-toggle="modal" class="deletebook btn btn-danger deleteLead">Sil</button>*@
                    <a href="/Kulupler/Guncelle/@klp.KulupId" class="btn btn-success">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<a href="/Kulupler/YeniKulup" class="btn btn-primary">Yeni Kulüp Kaydı</a>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Silmeyi Onayla</h4>
            </div>
            <div class="modal-body">
                Bu öğeyi silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Kapat</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Sil</button>
            </div>
        </div>
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var path_to_delete;

            $(".silinecek").click(function (e) {
                debugger;
                path_to_delete = $(this).attr('data-path');
            });

            $('#btnContinueDelete').click(function () {
                debugger;
                window.location = path_to_delete;
            });

    });
    </script>

